body {
	background-color: #38ACE2;
}

.podio-webform-container {
	background-color: none;
	background-image: none;
}

#content {
	background-color: #38ACE2;
}

.form {
	font-family: arial, helvetica, sans-serif;
	color: #000000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: #38ACE2;
	background-image: none !important;

}

h5{
	font-family: arial;
	font-size: 16px;
	color: #fff;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 0px;
	border-style: none;
	border-color: #444444;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
	background-image: none !important;

}

.form-description{
	font-size: undefined;
	border-top-width: undefined;
	border-right-width: undefined;
	border-bottom-width: undefined;
	border-left-width: undefined;
	border-radius: undefined;
	border-style: undefined;
	margin-top: undefined;
	margin-right: undefined;
	margin-bottom: undefined;
	margin-left: undefined;
	padding-top: undefined;
	padding-right: undefined;
	padding-bottom: undefined;
	padding-left: undefined;
	background-image: undefined !important;

}

.form .field{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 0px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	margin-top: 0px;
	margin-right: 0px;
	/* margin-bottom: 15px; */
	margin-left: 0px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: #38ACE2;
	background-image: none !important;

}

.form .field span.label{
	font-family: Novocento Wide, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 0px;
	border-style: none;
	border-color: #444444;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
	background-image: none !important;

}

.form .field input.text{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #444444;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	background-color: #FFFFFF;
	background-image: none !important;

}

.form .field h5.contact-header{
	font-family: Arial;
	font-size: 16px;
	color: #444444;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 0px;
	border-style: none;
	border-color: #444444;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #FFFFFF;
	background-image: none !important;

}

.form .field textarea{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #444444;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	background-color: #FFFFFF;
	background-image: none !important;

}

.form .field select.state{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 0px;
	border-style: solid;
	border-color: #A9A9A9;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
	margin-left: 2px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #FFFFFF;
	background-image: none !important;

}

.form .field ul.question-wrapper li{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 0px;
	border-style: none;
	border-color: #000000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: rgba(0, 0, 0, 0);
	background-image: none !important;

}

.form .field .date-wrapper input.date-input{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #444444;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 3px;
	border-style: solid;
	border-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	background-color: #FFFFFF;
	background-image: none !important;

}

.form .field .date-wrapper input.time-input{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #444444;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 3px;
	border-style: solid;
	border-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	background-color: #FFFFFF;
	background-image: none !important;

}

.form .field input.file{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #999999;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 0px;
	border-style: none;
	border-color: #999999;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: rgba(0, 0, 0, 0);
	background-image: none !important;

}

.form .field a.add-file-field{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #3376A4;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 0px;
	border-style: none;
	border-color: #3376A4;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: rgba(0, 0, 0, 0);
	background-image: none !important;

}

.form .field select.money{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 0px;
	border-style: solid;
	border-color: #A9A9A9;
	margin-top: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 2px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #FFFFFF;
	background-image: none !important;

}

.form .field input.money{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #444444;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	background-color: #FFFFFF;
	background-image: none !important;

}

.form .field .duration-wrapper .duration-group{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 0px;
	border-style: none;
	border-color: #000000;
	margin-top: 0px;
	margin-right: 21px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: rgba(0, 0, 0, 0);
	background-image: none !important;

}

.form .field select.app{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 12px;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-radius: 0px;
	border-style: solid;
	border-color: #A9A9A9;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
	margin-left: 2px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #FFFFFF;
	background-image: none !important;

}



.buttons .submit{
	
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 16px;
	color: #000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 30px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #B4FE02;
	background-image: none;

}

.messages{
	color: #fff;
	font-size: undefined;
	border-top-width: undefined;
	border-right-width: undefined;
	border-bottom-width: undefined;
	border-left-width: undefined;
	border-radius: undefined;
	border-style: undefined;
	margin-top: undefined;
	margin-right: undefined;
	margin-bottom: undefined;
	margin-left: undefined;
	padding-top: undefined;
	padding-right: undefined;
	padding-bottom: undefined;
	padding-left: undefined;
	background-image: undefined !important;

}

.buttons .submit:hover{
	background-image: none; 
	background-color: #B4FE02;
}